/* .filteredContainer{
    width: 1504px;
    height: 567px;
    top: 366px;
    left: 147px;
    
    border: 2px solid #B8B8B8;
    border-radius: 5px;
    margin-left: 4px;
    padding: 10px;
    width: 99%;
} */